<section id="contactForm">
    <h3>Contact {% include logos/loenzLogoWhite.svg %}</h3>
    <form action="https://formspree.io/info@loenz.nl" method="POST">
      <div class="container">
        <div class="row">

          <div class="col-lg-8 col-sm-6 padding10px" onclick="">
            <div class="contactFormCard">
              <textarea class="message" name="message" placeholder="message"></textarea>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 padding10px" onclick="">
            <div class="contactFormCard">
              <input class="nameEmail" type="text" name="name" placeholder="name">
              <input class="nameEmail" type="email" name="_replyto" placeholder="email">
              <div class="sendButtonContainer">
                <input type="submit" value="Send">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</section>
