---
layout: default
---

{% include pages/cloudBasedPeopleDetection/header.html %}
{% include general/nav.html %}
{% include pages/cloudBasedPeopleDetection/loenzCBPD.html %}
{% include pages/cloudBasedPeopleDetection/whatCanLoenzTellMe.html %}
{% include pages/cloudBasedPeopleDetection/howDoesItWork.html %}
{% include pages/cloudBasedPeopleDetection/whyUseCloud.html %}
{% include pages/cloudBasedPeopleDetection/whatCanYouDo.html %}
{% include pages/cloudBasedPeopleDetection/quote.html %}
{% include pages/cloudBasedPeopleDetection/privacy.html %}
