html
  width: 100%
  \::-webkit-scrollbar
    display: none
body
  margin: 0
  padding: 0

// Font
h1,h2,h3,h4,h5,h6,p,a
  //font-family:  'Open Sans', sans-serif
  font-family: 'Quicksand', sans-serif
  color: $loenzText
  text-align: center

h2,h3
  margin: 40px 0px
  font-size: 2em

h3
  color: white
  font-weight: bold

p, span
  font-size: 1.25em


nav
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  a
    margin: 10px
    color: $loenzText
    &:hover
      color: $loenzHoverColor

a
  color: $loenzGreen
  font-weight: bolder
  text-transform: uppercase
  &:hover
    color: $loenzHoverColor
    text-decoration: none


section
  padding: 10vh 0


// sets margin  to all cards
.padding10px
  padding: 10px

.zoom
  transition: 300ms
  &:hover
    transform: scale(1.07)
    transition: 300ms
    cursor: zoom-in
