<section id="naturalComputerVision">
  <div class="container">
    <h2>making sense of visual data</h2>
    <p>Loenz is a tech startup from Amsterdam, NL, founded by Bart and Arjen in November 2015. We focus on computer vision applied to naturalistic data. In essence, we try to make sense of visual data. Our goal is to help companies benefit from this exciting new technology. Currently, we are working on a cloud based service to collect gender, age and group composition from people visiting shops.</p>

    <h2>technology</h2>
    <p>Recently, large companies like Google and Facebook and leading universities have boosted the developments in computer vision by developing frameworks that are able to train models using millions of images or videos. They have given back to the open community by offering their production-ready frameworks and models free of charge. Other companies and academics have applied these tools and models to solve automatic visual tasks in various domains. We can use for example Google's TensorFlow to train a so-called deep convolutional neural network.</p>

    <h2>If you like to know if your company can benefit from computer-vision please contact us.</h2>
  </div>
</section>
