<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg4223"
   viewBox="0 0 99.879618 99.879614"
   height="100"
   width="100">
  <defs
     id="defs4225">
    <linearGradient
       osb:paint="solid"
       id="linearGradient6989">
      <stop
         id="stop6991"
         offset="0"
         style="stop-color:#08960d;stop-opacity:0.27936509;" />
    </linearGradient>
    <marker
       style="overflow:visible"
       id="DotM"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.4,0,0,0.4,2.96,0.4)"
         style="fill:#08960d;fill-opacity:1;fill-rule:evenodd;stroke:#08960d;stroke-width:1pt;stroke-opacity:1"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         id="path4316" />
    </marker>
    <marker
       style="overflow:visible"
       id="TriangleOutL"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="scale(0.8,0.8)"
         style="fill:#08960d;fill-opacity:1;fill-rule:evenodd;stroke:#08960d;stroke-width:1pt;stroke-opacity:1"
         d="m 5.77,0 -8.65,5 0,-10 8.65,5 z"
         id="path4394" />
    </marker>
    <marker
       style="overflow:visible"
       id="DiamondM"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="scale(0.4,0.4)"
         style="fill:#08960d;fill-opacity:1;fill-rule:evenodd;stroke:#08960d;stroke-width:1pt;stroke-opacity:1"
         d="M 0,-7.0710768 -7.0710894,0 0,7.0710589 7.0710462,0 0,-7.0710768 Z"
         id="path4334" />
    </marker>
    <marker
       style="overflow:visible"
       id="DotL"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.8,0,0,0.8,5.92,0.8)"
         style="fill:#08960d;fill-opacity:1;fill-rule:evenodd;stroke:#08960d;stroke-width:1pt;stroke-opacity:1"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         id="path4313" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lstart"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.8,0,0,0.8,10,0)"
         style="fill:#08960d;fill-opacity:1;fill-rule:evenodd;stroke:#08960d;stroke-width:1pt;stroke-opacity:1"
         d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
         id="path4252" />
    </marker>
    <linearGradient
       osb:paint="solid"
       id="linearGradient5672">
      <stop
         id="stop5674"
         offset="0"
         style="stop-color:#0000ff;stop-opacity:1;" />
    </linearGradient>
  </defs>
  <metadata
     id="metadata4228">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(-126.23511,-620.65362)"
     id="layer1">
    <path
       style="opacity:0.9729996;fill:#11c320;fill-opacity:0.97647059;stroke:#00c700;stroke-width:0.03571429;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d=""
       id="path4870" />
    <path
       style="opacity:0.9729996;fill:#11c320;fill-opacity:0.97647059;stroke:#00c700;stroke-width:0.03571429;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d=""
       id="path4872" />
    <path
       id="path4938"
       d=""
       style="fill:#000000" />
    <path
       id="path4936"
       d=""
       style="fill:#000000" />
    <g
       transform="matrix(0.83532075,0,0,0.83532075,207.79586,185.57362)"
       id="g4340">
      <g
         id="g4406"
         transform="matrix(0.98046761,0,0,0.98046761,10.655579,11.193936)" />
    </g>
    <g
       transform="matrix(0.7851145,0,0,0.7851145,120.95583,172.12822)"
       id="g4957" />
    <g
       transform="matrix(0.7851145,0,0,0.7851145,38.889078,114.76342)"
       id="g4957-8" />
    <g
       transform="matrix(0.8608118,0,0,0.8608118,69.500086,111.2861)"
       id="g4344" />
    <g
       transform="translate(584.00001,249.99999)"
       id="g5031" />
    <g
       transform="translate(-37.9718,50.17523)"
       id="g5068">
      <g
         id="g4415"
         transform="translate(-34.863068,-6.2426407)">
        <path
           id="rect4397-0"
           d="m 273.75406,597.89837 c 3.91217,1.52283 7.10997,4.54032 8.50612,8.4644 l -6.825,6.85864 -8.50612,-8.4644 z"
           style="opacity:1;fill:#08960d;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:5.32654428;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.51928783" />
        <circle
           r="30.576002"
           cy="631.45612"
           cx="248.88539"
           id="path4369"
           style="opacity:1;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#666666;stroke-width:5.0999999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
        <path
           id="path4395"
           d="M 248.97378,610.13579 248.797,631.52577"
           style="fill:none;fill-rule:evenodd;stroke:#08960d;stroke-width:5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        <path
           id="rect4397"
           d="m 242.88539,590.04373 c 3.84727,-1.68007 8.24244,-1.79676 12,0 l 0,9.67582 -12,0 z"
           style="opacity:1;fill:#666666;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:5.32654428;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.51928783" />
      </g>
      <g
         style="stroke:none"
         transform="translate(-128.71042,-19.444038)"
         id="g4654-1-1">
        <rect
           y="589.92242"
           x="292.91733"
           height="99.879616"
           width="99.879616"
           id="rect4878-7-4-2"
           style="opacity:0.9729996;fill:none;fill-opacity:0.21269842;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      </g>
    </g>
  </g>
</svg>
