<section id="introToTeam">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-sm-6 padding10px" onclick="">
        <div class="introCard">
          <img src="img/bart-cartoon.png" alt="Bart">
          <p>
            Bart, born Limburgian, moved to ‘s-Hertogenbosch when he was 8 years old. Despite being practically neighbors and attending the same elementary school, it took a vacation with mutual friends to Crete in 2001 for Bart and Arjen to become friends. After this vacation Bart moved to Maastricht to start at the university. He completed his B.Sc. in Knowledge Engineering in 2009 and with a newfound taste for studying his M.A. in Communication Sciences in 2011 at Tilburg university. Currently he is a Ph.D. candidate at Tilburg University, where he studied the automatic recognition of human social signals using computer vision and machine learning. Besides working for Loenz Bart also has a position atTNO (Dutch institute for applied natural sciences) as a research scientist working on visual media mining. This assures an up-to-date knowledge of the relevant state of the art.
          </p>
          <p>
            Ever since he was a child, he knew that he wanted to do something with computers when asked about what he wanted to be when grown up. Within Loenz Bart is the software-engineer, system administrator, requirements analyst, embedded programmer, in short the allround computer nerd.
          </p>
          <div class="gif">
            <img src="img/bart.gif" alt="">
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 padding10px" onclick="">
        <div class="introCard">
          <img src="img/arjen-cartoon.png" alt="Arjen">
          <p>
            Arjen is born in 1981 in ‘s-Hertogenbosch in The Netherlands. Now he lives in Amsterdam. After his study electronics he got a degree in Sales and Marketing. Resulting in a couple of tech sales jobs. Selling medical robots in Europe. Next he specialised in signal conditioning hardware for chemical and petrochemical industry.
          </p>
          <p>
            Arjen has a Technical and commercial background, a personal interest in arts and crafts, Arjen is always on the look out, how to combine these fields and come up with innovative applications cross field. With a background in marketing and sales, Arjen will focus on getting the word out and enthuse customers and prospects. He will also program the front and back-end customer environment. Always making sure things look and feel right.
          </p>
          <p>
            Besides work Arjen likes to go running and mountain biking. In the winter he likes to go Snowboarding and Telemark-skiing in the Alps. He also likes to create stuff with his 3D printer or by doing pottery.
          </p>
          <div class="gif">
            <img src="img/arjen.gif" alt="">
          </div>
        </div>
      </div>
    </div>
    <div id="quoteArjen">
      <p>“Arjen Nov 2014”</p>
      <p>
        “Most of our daily input is visual, with the latest advancements in technology its only logical that computer-vision will play an increasing role in our life”
      </p>
    </div>
  </div>
</section>
