<section id="howDoesItWork">
  <div class="container">

    <h2>How does it work?</h2>
    <p>You put an IP-camera over your entrance and connect to our cloud server. We will do the rest!</p>

    <div class="videoSizeContainer">
      <div class="embed-responsive embed-responsive-16by9">

        <iframe
          class="embed-responsive-item"
          width="560"
          height="349"
          src="https://player.vimeo.com/video/175200068?autoplay=1&loop=1&color=08960d&"
          frameborder="0"
          allowfullscreen>
        </iframe>

      </div>
    </div>
  </div>
</section>
