<section id="privacy">
  <div class="container">

    <h2>Information without <a href="{{site.baseurl}}/privacy.html">privacy</a> intrusion!</h2>

    <p>By using a camera it is possible to extract a lot of information about the People that enter your shop without having to know their identity. LOENZ will not put an personal identifier in our data to track individuals over time or distance. Our server will run realtime and will not store any camera pictures.</p>

    <div class="privacyIconsContainer">
      <div onclick="" class="privacyIcon">{% include icons/icon-privacy-face.html %}</div>

      <div onclick="" class="privacyIcon">{% include icons/icon-privacy-save.html %}</div>
    </div>

    <p>a resposible alternative for wifi-tracking</p>

    <!-- <a class=moreAboutPrivacy href="{{site.baseurl}}/privacy.html">more about privacy</a> -->

  </div>
</section>
 
