<section id="whatYouCanDo">
  <div class="container">

    <h2>What you can do with all this demographic data!</h2>
    <p>
      LOENZ will presented your data in a way that is usable for any shop. It is also possible to connect our data output to your customer relations software.
    </p>

    <div class="row">

      <div class="col-lg-6 col-sm-6 padding10px" onclick="">
        <div onclick="" class="graphCard">
          <div class="graph">{% include graphs/graph-traffic.html %}
            <div class="infoIcon"><p>i</p></div>
          </div>
          <div class="graphInfo">
            <p><strong>Get to know when to staff your shop!</strong><br /><br />
              LOENZ can tell you exactly when you need that extra hand. Choose what time period you would like to see. Choose a single day, week, month, year or between to specific dates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 padding10px" onclick="">
        <div onclick="" class="graphCard">
          <div class="graph">{% include graphs/graph-age.html %}
            <div class="infoIcon"><p>i</p></div>
          </div>
          <div class="graphInfo">
            <p><strong>Does your campaign and assortment fit your shoppers?</strong><br /><br />
              Do the majority of the shoppers find goods that fit there taste? Get insight in your shoppers. Are you targeting seniors in your new campaign? Simply check if its successful!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 padding10px" onclick="">
        <div onclick="" class="graphCard">
          <div class="graph">{% include graphs/graph-group.html %}
            <div class="infoIcon"><p>i</p></div>
          </div>
          <div class="graphInfo">
            <p><strong>How high is your conversion really?</strong><br /><br />
              Do couples gereraly only buy one item? LOENZ can tell you how many people came in groups and should be considered just one prospect. This way you can calculate conversion much better and reward your staff more accurate.
            </p>
          </div>
        </div>
      </div>

    <div class="col-lg-6 col-sm-6 padding10px" onclick="">
        <div onclick="" class="graphCard">
          <div class="graph">{% include graphs/graph-conversion.html %}
            <div class="infoIcon"><p>i</p></div>
          </div>
          <div class="graphInfo">
            <p><strong>Who buys? vs who looks?</strong><br /><br />
              Is it mainly young women that visit the shop but mostly old man that buy? Learn if you should change your assortment, change your advertisements or confirm your marketing team is doing a good job.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
