<section id="whatCanLoenzTellMe">
  <div class="container">

    <h3 id="idWCLTM">What can LOENZ tell me about my customers?</h3>

    <div class="row">

      <div id="count" class="col-lg-3 col-sm-6 padding10px zoom" onclick="">
        <div class="demoCard">
          <div class="demoIcon">{% include icons/icon-count.html %}
          </div>
          <p><strong>COUNT</strong><br /><br />
          Know with high accuracy the amount of people entering your shop at any time
          </p>
        </div>
      </div>

      <div id="gender" class="col-lg-3 col-sm-6 padding10px zoom" onclick="">
        <div class="demoCard">
          <div class="demoIcon">{% include icons/icon-gender.html %}
          </div>
          <p><strong>GENDER</strong><br /><br />
            learn if it is men or women that favour your shop
          </p>
        </div>
      </div>

      <div id="group" class="col-lg-3 col-sm-6 padding10px zoom" onclick="">
        <div class="demoCard">
          <div class="demoIcon">{% include icons/icon-group.html %}
          </div>
          <p><strong>GROUP</strong><br /><br />
            Is it girls on a shopping spree or single men that come to your shop? LOENZ can tell you
          </p>
        </div>
      </div>

      <div id="age" class="col-lg-3 col-sm-6 padding10px zoom" onclick="">
        <div class="demoCard">
          <div class="demoIcon">{% include icons/icon-age.html %}</div>
          <p><strong>AGE</strong><br /><br />
            What age do your shoppers have? LOENZ can tell you
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
