<section id="whyUseCloud">

  <div class="container">

    <h3>Why use a cloud service?</h3>

    <div class="row">

      <div class="col-lg-4 col-sm-6 padding10px zoom" onclick="">
        <div class="cloudCard">
          <div class="cloudIcon">{% include icons/icon-hardware.html %}</div>
          <p><strong>POWERFUL<br />HARDWARE</strong><br /><br />
            Running sophisticated computer-vision software demands a lot of computing power. In the future new software will give new possibilities but might also demand more computing power. Having a cloud computer being able to grow with the demand is a great plus.</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 padding10px zoom" onclick="">
        <div class="cloudCard">
          <div class="cloudIcon">{% include icons/icon-technology.html %}</div>
          <p><strong>ALWAYS THE LATEST<br />TECHNOLOGY</strong><br /><br />
            Advancements in computer-vision software are made every day. By using a cloud-computer you can be sure to always run the latest technologie. in the future more possibilities will be made available without changing anything in your shop.</p>
        </div>
      </div>


      <div class="col-lg-4 col-sm-12 padding10px zoom" onclick="">
        <div class="cloudCard">
          <div class="cloudIcon">{% include icons/icon-investment.html %}</div>
          <p><strong>NO LARGE<br />INVESTMENT</strong><br /><br />
              Because no expensive hardware is required in your shop. there is no investment needed to start using LOENZ.</p>
        </div>
      </div>
    </div>
  </div>
</section>
