<section id="landing">
  <div class="container">
    <div id="landinglogo">
      {% include logos/loenzLogo.svg %}
    </div>

    <div class="row">

      <div id="computerVision" class="col-lg-6 col-sm-6 landingCol">
        <div class="goggle">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
                <h4>LOENZ is specialised in natural computer vision. We use deeplearning and train convolutional neural networks to subtract data from natural origin. Both in static or motion pictures.</h4>
                <h3><a href="{{site.baseurl}}/natural-computer-vision.html">zoom in</a></h3>
            </div>
            <div class="cardTitle">
              <h2><i class="fa fa-pagelines" aria-hidden="true"></i>  computer vision  <i class="fa fa-snowflake-o" aria-hidden="true"></i></h2>
            </div>
          </div>
        </div>
      </div>

      <div id="peopleDetection" class="col-lg-6 col-sm-6 landingCol">
        <div class="goggle">
          <div onclick="" class="fadeCard">
            <div class="cardInfo">
                <h4>LOENZ trained a cloud based people detector to subtract demografics from visitors. Our convolutional neural network can detect age, gender, groups and visiting time from any conected video stream</h4>
                <h3><a href="{{site.baseurl}}/cloud-based-people-detection.html">zoom in</a></h3>
            </div>
            <div class="cardTitle">
              <h2><i class="fa fa-users" aria-hidden="true"></i>  detection  <i class="fa fa-cloud" aria-hidden="true"></i></h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
