#whatCanLoenzTellMe
  background: url(../img/LOENZ-demographic-section-background.jpg) center center
  background-size: cover

  .demoCard
    .margin
      border: 1px solid green
      background-color: white
      margin: 0 auto

      .demoIcon
        text-align: center
